.graph-skin.spec(style="padding-right:#{graphWidth}px" id="#{id}" data-height="#{graphHeight}")
  .heighter
    .ram(  style="width:#{cellWidth}px; height:#{ramHeight}px;" )
    .cpu(  style="width:#{cellWidth}px; height:#{cpuHeight}px;" )
    .disk( style="width:#{cellWidth}px; height:#{diskHeight}px;" class=isEBS ? "ebs" : "" )
        
