.spec-hover
  .provider #{provider} Specs
  .specs
    .ram
      .label RAM
      .size #{ram}
    .cpu
      .label CPU
      .size #{cpu}
    .disk
      .label DISK
      .size #{disk}
  .transfer #{transfer}TB Transfer
  .price #{priceMo}
